{
    email {$TOMODACHI_TLS_EMAIL}
}

{$TOMODACHI_DOMAIN} {
    encode zstd gzip

    handle /api/* {
        reverse_proxy backend:8080
    }

    handle /actuator/health {
        reverse_proxy backend:8080
    }

    handle /actuator {
        respond 404
    }

    handle /actuator/* {
        respond 404
    }

    handle {
        reverse_proxy frontend:80
    }
}
